@mixin flex{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
}
@mixin normal-style{
    line-height: normal;
    font-style: normal;
}
@mixin border-color{
    border: 1px solid #E0E4E9;
background: #FFF;
}
@mixin input-wd-he{
    width: 367px;
    margin: 4px;
    margin-top: 10px;
    padding-left: 10px;
height: 40px;
}
$main-color:#FB775A;
.signUpContentt{
    width: 100%;
    height: 100vh;
     background-color:$main-color;
    background-image: url('../../Assest/signupBg.png');
    background-size: cover;
    background-position: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.error{
    color: red;
    font-size: 15px;
    text-align: start;
}

.signUpFormm{
@include flex;
}
.form-Div{
    @include flex;
    width: 550px;
height: 500px;
flex-shrink: 0;
background: #fff;
box-shadow: 0px 19.75px 70px 0px rgba(0, 0, 0, 0.09);
}
.formm{
    width: 440px;
height: 400px;
flex-shrink: 0;
border: 1px solid #D4D7DD;
box-shadow: 0px 19.75px 70px 0px rgba(0, 0, 0, 0.09);
}
.signInn{
    width: 220px;
height: 50px;
 flex-shrink: 0;
color: #192E46;
text-align:center;
font-size: 18px;
font-weight: 600;
@include normal-style;
letter-spacing: -0.36px;
border: none;
background: none;
}
.signUpss{
    width: 220px;
    height: 50px;  
    color: #697482;
@include border-color;
background: #FAFAFA;
text-align: center;
font-size: 18px;
@include normal-style;
font-weight: 600;
letter-spacing: -0.36px;

}
.feildd{
    margin: 30px;
}
.addresss {
    @include input-wd-he;
    flex-shrink: 0;
    border-radius: 4px;
    @include border-color;
    text-align: start;
    font-size: 14px;
  }
  .addresss:focus{
    border: 1px solid #f7937c;
    outline:#f7937c;
}
.passwordd:focus{
    border: 1px solid #f7937c;
    outline:#f7937c;
}
.signLogoo{
    width: 200px;
    margin-bottom:10px ;
}
.passwordd{
    @include  input-wd-he;
flex-shrink: 0;
border-radius: 4px;
@include border-color;
text-align:start;
font-size: 14px;
}
.sign-button{
 @include input-wd-he;
 width: 380px;
flex-shrink: 0;
border-radius: 4px;
background: $main-color;
border: none;
color: #FFF;
font-size: 14px;
}
.terms{
    color: #192E46;
font-size: 14px;
margin: 4px;
font-style: normal;
font-weight: 400;
line-height: 157.5%; 
letter-spacing: 0.14px;
}
.terms span{
    color: $main-color;
font-size: 14px;
font-style: normal;
font-weight: 600;
}
.connected{
    @include flex;
    flex-direction: row;
    margin-top: 40px;
    color: #9AA6B4;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 361.5%; 
letter-spacing: 0.28px;
}
.linee{
    width: 100px;
height: 1px;
flex-shrink: 0;
margin: 10px;
border-radius: 4px;
background: #E0E4E9;
}
.forgot{
    color: $main-color;
    text-align: right;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 157.5%; 
letter-spacing: 0.12px;
margin-right: 30px;
cursor: pointer;
}
@media (max-width: 768px) {
    .signUpContentt {
        padding-top: 5%;
        padding-bottom: 3%;
        height: auto;
    }

    .form-Div,
    .formm {
        width: 90%; 
        height: auto; 
    }
    .feildd{
        margin-left: 15px;
    }
    .signInn,
    .signUpss{
        width: 50%;
    }
    
    .name,
    .email,
    .addresss,
    .passwordd,
    .terms {
        width: 98%; 
    }
    .sign-button{
        width: 102%; 
    }
    .connected{
        @include flex;
        flex-direction: row;
        margin-top: 40px;
        color: #9AA6B4;
        font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 361.5%; /* 50.61px */
    letter-spacing: 0.28px;
    }
    .linee{
        width: 50px;
    height: 1px;
    flex-shrink: 0;
    margin: 10px;
    border-radius: 4px;
    background: #E0E4E9;
    }
.connected{
    margin-top:20px;
    text-align:center;
    line-height:normal;}
.signLogoo{
    width: 50%;
}
    .forgot{
        margin-right: 1px;
    }
}





