@mixin flex{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
}
@mixin normal-style{
    line-height: normal;
    font-style: normal;
}
$main-color:#F37357;
.signUpContentV{
    width: 100%;
    height: 100vh;
     background-color: $main-color;
    background-image: url('../../Assest/signupBg.png');
    background-size: cover;
    background-position: center;
    // padding-top: 3%;
    // padding-bottom: 7%;
}
.signUpFormV{
@include flex;
}
.formDivV{
    @include flex;
    width: 550px;
height: 530px;
flex-shrink: 0;
background: #fff;
box-shadow: 0px 19.75px 70px 0px rgba(0, 0, 0, 0.09);
}
.formV{
    width: 460px;
height: 470px;
flex-shrink: 0;
border: 1px solid #D4D7DD;
box-shadow: 0px 19.75px 70px 0px rgba(0, 0, 0, 0.09);
}

.formDivV h1{
    color: #192E46;
text-align: center;
font-size: 24px;
@include normal-style;
font-weight: 600;
margin: 20px;
letter-spacing: -0.48px;
}
.emailV{
    width: 400px;
    margin: 20px;
    margin-top: 20px;
    padding-left: 10px;
height: 46px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #92908f;
background: #FFF;
text-align:start;
font-size: 14px;
}
.emailV:focus{
    border: 1px solid #f7937c;
    outline:#f7937c;
}

.formV p{
    color: #192E46;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 157.5%; 
letter-spacing: 0.14px;
}
.formV span{
    color: $main-color;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 157.5%;
letter-spacing: 0.14px;
}
.verifyBtn{
    width: 420px;
height: 46px;
flex-shrink: 0;
border-radius: 4px;
background: $main-color;
border: none;

margin: 20px;
margin-top: -2px;
color: #FFF;
font-size: 14px;
@include normal-style;
font-weight: 600;
letter-spacing: 0.14px;
}
.confirmMsg{
    width: 420px;
    margin: 20px;
    border: 1px solid #FEAAAA;
background: #FFE2E2;
color: $main-color ;
margin-top: -2px;
@include normal-style;
font-size: 8px;
font-weight: 200;
letter-spacing: 0.18px;
}
.ask{
    color: #192E46;
text-align: center;
font-size: 14px;
margin: 50px;
@include normal-style;
font-weight: 400;
letter-spacing: 0.14px;
}
.ask span{
    color: $main-color;
font-size: 14px;
@include normal-style;
font-weight: 600;
letter-spacing: 0.14px;
}
.forgetPara{
    color: $main-color !important;
    cursor: pointer;
}
.closeBtn{
    margin-right: 5px;
}
.errorP{
    margin: 10px;
    margin-top: 0px;
    margin-left: 20px;
    color: $main-color;
    font-size: 15px;
    text-align: start;
}
.custom-message{
 
  font-size: 20px;
}
@media (max-width: 768px) {
    .signUpContentV {
        height: auto;
        padding-top: 5%;
        padding-bottom: 10%;
        font-size: 13px;
    }
    .signUpFormV{
        height: auto;
    }
    .formV p{
        font-size: 13px;
    }
    .formV{
width: 90%;
height: auto;
    }
    .signLogoV{
        width: 40%;
    }

    .formDivV {
        width: 90%;
        height: auto;
    }

    .emailV{
        width: 85%;
        margin: 10px;
    }

    .verifyBtn,
    .confirmMsg {
        width: 90%;
        margin: 10px;
    }
    .verifyBtn{
        width: 92%;
        margin-top: 10px;
    }
}