.fixBg{
    overflow: hidden;
    background-color: #F37357;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-color: #F37357; 
    width: 100%;
    height: 90vh;
    background-image: url('../Assest/bgwhite.png'); 

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.cottage{
    color: #F37357;
}
.next-level{
    text-decoration: underline;
}
.buttonstyle{
    width: 550px;
    /* height: 100px; */
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.mainn{
    width: 100%;
 height: 90vh; 
 background-repeat: no-repeat;
    background-image: url('../Assest/bgwhite.png'); 
    background-size: cover;
    background-position: center; 
    margin-bottom: 20px;
}
.menu{
width: 100%;
height: 100vh;
overflow: hidden;
background-color: #F37357;
background-repeat: no-repeat;
background-size: cover;
background-image: url('../Assest/bgwhite.png'); 
display: flex;
align-items: center;
justify-content: space-around;
margin: 10px;
}
.menuItemImg{
    margin-top: 30px;
    width: 580px;
height: 580px;
flex-shrink: 0;
background: #F6F8FA;
box-shadow: 0px 27.65410614013672px 157.12559509277344px 0px rgba(76, 104, 137, 0.05);
}

.menutext{
    width: 650px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
 
   
}
.textHead{
width: 500px;
height: auto;
display: flex;
flex-direction: column;
}

.dottI img{
    width: 200px;
    height: 350px;
 }
.section:nth-child(even) .menu{
    flex-direction: row-reverse;
}
.menuHead{
    color: #192E46;
margin: 3px;
font-size: 45px;
font-style: normal;
/* width: 80%; */
font-weight: 800;
line-height: 58px; 
}
.menuPara{
    color: #4C6889;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 25px; 
margin-top: 20px;
}
.menuPara span{
    color: #FB775A;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 29px;
}

@media (max-width: 768px) {
   
    .menu{
        width: 100%;
        height: auto;
        margin: 1px;
        margin-top: 70px;
        flex-wrap: wrap;
        }
      .dottI{
            display: none;
        }
        .menutext{
            width: 100%;
            height: auto;
            padding: 15px;
            align-items: center;
        }
        .textHead{
            width: 100%;
            height: auto;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .menuItemImg{
                width: 100%;
             height: auto;
            flex-shrink: 0;
            }
            .menuHead{
                color: #192E46;
            font-size: 30px;
            text-align: center;
            font-style: normal;
            font-weight: 800;
            line-height: 40px; 
            }
            .menuPara{
                color: #4C6889;
            font-size: 15px;
            font-style: normal;
            text-align: center;
            font-weight: 400;
            line-height: 20px; 
            margin-top: 10px;
            }
        .textHead{
            width: 100%;
            height: auto;
            /* background-color: #F37357; */
        }
        .buttonstyle{
            width: 100%;
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
           flex-direction: column;
        }
        
        
}
