@mixin sign-inputs{
    width: 367px;
    margin: 4px;
    margin-top: 20px;
    padding-left: 10px;
height: 46px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #E0E4E9;
background: #FFF;
text-align:start;
font-size: 14px;
}
@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin signIn-signUp-btn{
    width: 223px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid #D4D7DD;
    background: #FAFAFA;
    color: #626f7f;
    text-align:center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
}
.signUpContent{
    width: 100%;
     background-color: #F37357;
    background-image: url('../../Assest/signupBg.png');
    background-size: cover;
    background-position: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.flex-div{
    @include flex;
}


.signUpForm{
  @include  flex;
   flex-direction: column;
}
.formDiv{
  @include flex;
    flex-direction: column;
    width: 530px;
height: 630px;
flex-shrink: 0;
background: #fff;
box-shadow: 0px 19.75px 70px 0px rgba(0, 0, 0, 0.09);
}
.form{
    width: 450px;
height: 550px;
flex-shrink: 0;
border: 1px solid #D4D7DD;
box-shadow: 0px 19.75px 70px 0px rgba(0, 0, 0, 0.09);

}
.signIn{
  @include  signIn-signUp-btn;
}
.signUps{
  @include signIn-signUp-btn;
  border: none;
  background: transparent;
  color: #192E46;
}
.feild{
    margin: 30px;
}
.name{
    width: 170.5px;
    margin: 4px;
height: 46px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #E0E4E9;
background: #FFF;
margin-left: 10px;
padding-left: 10px;
color: #9AA6B4;
text-align:start;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
margin-top: 20px;

}
.email{
@include sign-inputs;
 border: 1px solid #FB775A;
}
.address{
@include sign-inputs;
}
.signLogo{
    width: 190px;
    margin-bottom: 10px;
}
.flex-column {
    flex-direction: column;
  }
.password{
@include sign-inputs;
}
.signbutton{
    width: 367px;
    margin: 4px;
    margin-top: 20px;
height: 46px;
flex-shrink: 0;
border-radius: 4px;
background: #FB775A;
border: none;
color: #FFF;
font-size: 14px;
}
.terms{
    color: #192E46;
font-size: 14px;
margin: 4px;
font-style: normal;
font-weight: 400;
line-height: 157.5%; 
letter-spacing: 0.14px;
}
.terms span{
    color: #FB775A;
font-size: 14px;
cursor: pointer;
font-style: normal;
font-weight: 600;
line-height: 157.5%;
letter-spacing: 0.14px;
}
.connect{
   @include flex;
    color: #9AA6B4;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 361.5%;
letter-spacing: 0.28px;
}
.line{
    width: 100px;
height: 1px;
flex-shrink: 0;
border-radius: 4px;
background: #E0E4E9;
}
.error{
    color: red;
    text-align: start;
    font-size: 15px;
}


@media (max-width: 768px) {
    .signUpContent {
        padding-top: 5%;
        padding-bottom: 3%;
    }

    .formDiv,
    .form {
        width: 90%; 
        height: auto; 
    }
.signLogo{
    width: 40%;
}
.signIn,
.signUps{
    width: 50%;
}
    
    .name,
    .email,
    .address,
    .password,
    .signbutton,
    .terms {
        width: 98%; 
    }
    .connect{
        @include flex;
        margin-top: 20px;
        color: #9AA6B4;
        font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 361.5%; 
    letter-spacing: 0.28px;
    }
    .line{
        width: 40px;
    height: 1px;
    flex-shrink: 0;
    margin: 10px;
    border-radius: 4px;
    background: #E0E4E9;
    }
.connect{
    margin-top:20px;
    text-align:center;
    line-height:normal;}
    .flex-div{
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
    }

    .facebook,
    .twitter {
        width: 45%; 
        margin: 4px;
    }
}





