@mixin sign-inputs{
    width: 367px;
    margin: 4px;
    margin-top: 10px;
    padding-left: 10px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #E0E4E9;
background: #FFF;
text-align:start;
font-size: 14px;
}
@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin signIn-signUp-btn{
    width: 223px;
    height: 45px;
    flex-shrink: 0;
    border: 1px solid #D4D7DD;
    background: #FAFAFA;
    color: #626f7f;
    text-align:center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
}
.signUpContent{
    width: 100%;
    height: 100vh;
     background-color: #F37357;
    background-image: url('../../Assest/signupBg.png');
    background-size: cover;
    background-position: center;
    // padding-top: 3%;
    padding-bottom: 1%;
}
.flex-div{
    width: 370px;
    margin-left: 5px;
// background-color: #626f7f;
    @include flex;
}


.signUpForm{
  @include  flex;
   flex-direction: column;
}
.formDiv{
  @include flex;
    flex-direction: column;
    width: 520px;
height: 570px;
flex-shrink: 0;
background: #fff;
box-shadow: 0px 19.75px 70px 0px rgba(0, 0, 0, 0.09);
}
.form{
    width: 450px;
height: 520px;
flex-shrink: 0;
border: 1px solid #D4D7DD;
box-shadow: 0px 19.75px 70px 0px rgba(0, 0, 0, 0.09);

}
.signIn{
  @include  signIn-signUp-btn;
}
.signUps{
  @include signIn-signUp-btn;
  border: none;
  background: transparent;
  color: #192E46;
}
.feild{
    margin: 30px;
}
.name{
    width: 169.5px;
    margin: 4px;
height: 46px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #E0E4E9;
background: #FFF;
margin-left: 10px;
padding-left: 10px;
color: #9AA6B4;
text-align:start;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
margin-top: 10px;

}
.email{
@include sign-inputs;
//  border: 1px solid #FB775A;
}
.address{
@include sign-inputs;
}
.address:focus{
    border: 1px solid #f7937c;
    outline:#f7937c;
}
.email:focus{
    border: 1px solid #f7937c;
    outline:#f7937c;
}
.password:focus{
    border: 1px solid #f7937c;
    outline:#f7937c;
}
.name:focus{
    border: 1px solid #f7937c;
    outline:#f7937c;
}
.signLogo{
    width: 190px;
    margin-bottom: 10px;
}
.flex-column {
    flex-direction: column;
  }
.password{
@include sign-inputs;
}
.signbutton{
    width: 380px;
    margin: 4px;
    margin-top: 20px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
background: #FB775A;
border: none;
color: #FFF;
font-size: 14px;
}
.terms{
    color: #192E46;
font-size: 14px;
margin: 4px;
text-align: center;
font-style: normal;
font-weight: 400;
line-height: 157.5%; 
letter-spacing: 0.14px;
}
.terms span{
    color: #FB775A;
font-size: 14px;
cursor: pointer;
font-style: normal;
font-weight: 600;
line-height: 157.5%;
letter-spacing: 0.14px;
}

.error-flex{
    display: flex;
    justify-content: space-between;
}
.error{
    color: red;
    text-align: start;
    font-size: 15px;
}


@media (max-width: 768px) {
    .signUpContent {
        height: auto;
        padding-top: 5%;
        padding-bottom: 3%;
    }
.flex-div{
    display: flex;
    flex-wrap: wrap;
width: 99%;
margin-left: 4px;
}
.error-flex{
    flex-direction: column;
    margin-left: 10px;
}
.error{
    margin-left: 10px;
}
    .formDiv,
    .form {
        width: 90%; 
        height: auto; 
    }
    .feild{
        margin-left: 15px;
    }
.signLogo{
    width: 40%;
}
.signIn,
.signUps{
    width: 50%;
}
    
    .name,
    .email,
    .address,
    .password,
    .signbutton,
    .terms {
        width: 98%; 
    }
    .connect{
        @include flex;
        margin-top: 20px;
        color: #9AA6B4;
        font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 361.5%; 
    letter-spacing: 0.28px;
    }
    .facebook,
    .twitter {
        width: 45%; 
        margin: 4px;
    }
}





