.btndisplaypage{
    width: 550px;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
}
.custom-button{
    width: 180px;
    height: 50px;
    padding: 10px;
    border-radius: 2px;
    font-size: 16px;
}
@media (max-width:768px){
    .btndisplaypage{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .custom-button{
        width: 100%;
        height: 40px;
    }
}